<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hlub.dev.bookshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HelloActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user_activity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".TypeBookActivity"
            android:label="@string/title_activity_typebook_activity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".BookActivity"
            android:label="@string/title_activity_book_activity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".AddUserActivity"
            android:label="@string/title_activity_user_activity"
            android:parentActivityName=".UserActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".AddTypeBookActivity"
            android:label="@string/title_activity_typebook_activity"
            android:parentActivityName=".TypeBookActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".AddBookActivity"
            android:label="@string/title_activity_book_activity"
            android:parentActivityName=".BookActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_user_activity"
            android:parentActivityName=".UserActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".BillActivity"
            android:label="@string/title_activity_bill_activity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".AddBillActivity"
            android:label="@string/title_activity_bill_activity"
            android:parentActivityName=".BillActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".BillDetailActivity"
            android:label="@string/title_activity_bill_detail_activity"
            android:parentActivityName=".BillActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".AddBillDetailActivity"
            android:label="@string/title_activity_bill_detail_activity"
            android:parentActivityName=".BillActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".StatisticalActivity"
            android:label="@string/action_statistical"
            android:theme="@style/AppThemeNoActionBar"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".BestSellerActivity"
            android:label="@string/action_add_typebook"
            android:theme="@style/AppThemeNoActionBar"
            android:parentActivityName=".HomeActivity"></activity>
    </application>

</manifest>